<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soundstax.soundstax">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/disc_vinyl_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.soundstax.soundstax.DashboardActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name="com.soundstax.soundstax.LoginSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.soundstax.soundstax.ReleaseActivity"
            android:parentActivityName="com.soundstax.soundstax.DashboardActivity">
        </activity>

        <activity
            android:name="com.soundstax.soundstax.AuthPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.soundstax.soundstax.LoginSplashActivity">
        </activity>
        <activity
            android:name="com.soundstax.soundstax.LoadingSplashActivity">
        </activity>

        <activity
            android:name="com.soundstax.soundstax.SearchResultsActivity"
            android:parentActivityName="com.soundstax.soundstax.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>