<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.justinrandalnelson.waxstacks">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchpadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.justinrandalnelson.waxstacks.AlbumListActivity"
            android:parentActivityName="com.justinrandalnelson.waxstacks.LaunchpadActivity">
        </activity>
        <activity
            android:name="com.justinrandalnelson.waxstacks.AlbumActivity"
            android:parentActivityName="com.justinrandalnelson.waxstacks.LaunchpadActivity">
        </activity>

        <activity
            android:name="com.justinrandalnelson.waxstacks.AuthPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.justinrandalnelson.waxstacks.LaunchpadActivity">
        </activity>
    </application>

</manifest>